@import "tailwindcss";
@plugin 'tailwind-scrollbar';
@custom-variant dark (&:where(.dark, .dark *));

body{
    margin:0;
    padding:0;
    /* box-sizing:border-box; */
    line-height: 20px;
}

@theme {
    --color-primary: #1E40AF;
    --color-secondary: #2563EB;
    --color-text-primary: #252b37;
    --color-text-secondary: #414651;
}

.layoutTheme {
  --primary-btn-color: #EABABA; /* fixed invalid hex */
  --secondary-btn-color: #FFFBF2;
  --primary-btn-text-color: #181d27;
  --secondary-btn-text-color: #EABABA;
  --primary-btn-border-color: #EABABA; /* replaced invalid */
  --secondary-btn-border-color: #EABABA; /* replaced invalid */
  --text-primary-color: #181027;
  --text-secondary-color: #535862;
  --bg-color: #FFFFFF; /* added missing # */
}

.layoutTheme2 {
  --primary-btn-color: #1E40AF;
  --secondary-btn-color: #536893;
  --text-primary-color: #252837;
  --text-secondary-color: #1640AF; /* fixed syntax */
  --bg-color: #F5F5F5;
}
